@font-face {
    font-family: mpfont;
    src: url("Lumiare.otf");
}

* {
    color: rgb(189, 158, 97);
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-height: 100dvh;
    /* overflow-y: hidden; */
    background-color: black;
}

#citybg{
    z-index: -20;
    opacity: 60%;
    top:0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    position:fixed;
}

#heading{
    font-family: mpfont;
    color: rgb(255, 255, 0);
    /* border: 2px solid rgb(184, 110, 0); */
    display: flex;
    justify-content: center;
    font-size: 1500%;
    padding-top: 20dvh;
    padding-bottom: 6dvh;
    overflow-x: hidden;
    width: 100%;
    background: rgba(0, 0, 0, 0.421);
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px red, 0 0 40px red, 0 0 50px red, 0 0 60px red, 0 0 70px red;
}

.smallhead{
    display: flex;
    font-family: mpfont;
    /* color: darkgoldenrod; */
    padding: 10dvh;
    font-size: 600%;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.421);   
}

.quote{
    display: flex;
    font-family: Arial;
    color: darkgoldenrod;
    /* border: 2px solid rgb(184, 110, 0); */
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    font-size: x-large;
    font-style: italic;
    padding-top: 10dvh;
    background: rgba(0, 0, 0, 0.421);
}

.para{
    display: flex;
    font-family: Arial;
    color: darkgoldenrod;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    font-size: x-large;
    font-style: italic;
    padding: 10dvh; 
    background: rgba(0, 0, 0, 0.421);
}

.pics{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(21rem, 100%), 1fr));
    color: darkgoldenrod;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 10%;
    max-width: 100%;
    background: rgba(0, 0, 0, 0.421);
    max-height: 30%;
}

.pics div{
    display: flex;
    flex-direction: column;
    font-size: xx-large;
    align-items: center;
    justify-content: center;
    padding: 5%;
    gap: 20px;
    text-align: center;
    font-family: mpfont;
}

.pics img {
    max-width: 100%;
    width: 75%;
    height: auto;
    display: block;
     
}

#topbar {
    display: flex;
    flex-direction: column;
    min-height: fit-content;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    top: 0;
    left: 0;
    z-index: 10;
    position: fixed;
    width: 100%;
    background-color: none;
 /* Slide setup */
    transform: translateY(-58%);
    transition: transform 0.5s ease;
}

#topbar div{
    gap: 6dvw;
}

#topbar.open {
    transform: translateY(+10%);
}

#dropdown {
    display: flex;
    /* border: 2px solid rgb(184, 110, 0); */
    min-width: fit-content;
    align-items: center;
    justify-content: center;
    align-content: center;
    overflow-x: hidden;
    max-width: 100%;
    /* position: sticky; */
    cursor: pointer;
}


.tb_buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 5px;
    color: darkgoldenrod;
    max-height: fit-content;
    /* width: 100%; */
    max-width: 100%;
    font-family: mpfont;
    /* background-color: none; */
    margin: 5px;
    font-size: 400%;
}

.charbutt, a:link, a:visited {
    text-decoration: none!important;
    cursor: pointer;
    color: darkgoldenrod
}