@font-face {
    font-family: mpfont;
    src: url("Lumiare.otf");
}

body {
    background-image: url("roses.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-height: 100dvh;
    /* overflow-y: hidden; */
}

img{
    max-width: 70%;
    width: 70%;
    height: auto;
}

#map{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10dvw;
}

#topbar {
    display: flex;
    flex-direction: column;
    min-height: fit-content;
    align-items: center;
    justify-content: center;
    align-content: center;
    max-width: 100%;
    overflow-x: hidden;
    top: 0;
    left: 0;
    z-index: 10;
    position: fixed;
    width: 100%;
    background-color: none;

 /* Slide setup */
    transform: translateY(-58%);
    transition: transform 0.5s ease;
}

#topbar.open {
    transform: translateY(+10%);
}

#dropdown {
    display: flex;
    /* border: 2px solid rgb(184, 110, 0); */
    min-width: fit-content;
    align-items: center;
    justify-content: center;
    align-content: center;
    overflow-x: hidden;
    max-width: 100%;
    /* position: sticky; */
    cursor: pointer;
}


.tb_buttons {
    border: none;
    padding: 5px;
    color: darkgoldenrod;
    max-height: fit-content;
    max-width: fit-content;
    font-family: mpfont;
    /* background-color: none; */
    margin: 5px;
    font-size: 400%;
}

.charbutt, a:link, a:visited {
    text-decoration: none!important;
    cursor: pointer;
    color: darkgoldenrod
}

#bar{
    display: flex;
    flex-direction: column;
    min-height: 30dvh;
    /* padding-bottom: 10%; */
    padding-top: 10%;
    font-family: mpfont;
    color: darkgoldenrod;
    font-size: 900%;
    align-items: center;
    justify-content: center;
}

.desc{
    color: darkgoldenrod;
    word-spacing: 5px;
    word-break: keep-all;
    font-family: Helvetica;
    padding: 0 10dvw;
    padding-bottom: 10dvh;
    font-size: xx-large;
    text-align: justify;
    overflow: hidden;
}