@font-face {
    font-family: mpfont;
    src: url("Lumiare.otf");
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: url("download.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#topbar {
    display: flex;
    flex-direction: column;
    min-height: fit-content;
    align-items: center;
    justify-content: center;
    align-content: center;
    max-width: 100%;
    overflow-x: hidden;
    top: 0;
    left: 0;
    z-index: 10;
    position: fixed;
    width: 100dvw;
    background-color: none;

 /* Slide setup */
    transform: translateY(-58%);
    transition: transform 0.5s ease;
}

#topbar.open {
    transform: translateY(0%);
}

#dropdown {
    display: flex;
    /* border: 2px solid rgb(184, 110, 0); */
    min-width: fit-content;
    align-items: center;
    justify-content: center;
    align-content: center;
    overflow-x: hidden;
    /* color: darkgoldenrod; */
    max-width: 100%;
    /* position: sticky; */
    cursor: pointer;
}


.tb_buttons {
    border: none;
    padding: 5px;
    color: darkgoldenrod;
    max-height: fit-content;
    max-width: fit-content;
    font-family: mpfont;
    /* background-color: none; */
    margin: 5px;
    font-size: 400%;
}

.charbutt, a:link, a:visited {
    text-decoration: none!important;
    cursor: pointer;
    color: darkgoldenrod
}

#bar{
    display: flex;
    flex-direction: column;
    min-height: 30dvh;
    /* padding-bottom: 10%; */
    padding-top: 10%;
    font-family: mpfont;
    color: darkgoldenrod;
    font-size: 900%;
    align-items: center;
    justify-content: center;
}

.chargrid{
    display: grid;
    gap: 4dvw;
    grid-template-columns: repeat(auto-fit, minmax(min(12.5rem, 100%), 1fr));
    /* border: 5px solid darkgoldenrod; */
    max-width: 100dvw;
    height: fit-content;
    justify-content: center;
    overflow-x: hidden;
    align-items: center;
    padding-top: 10dvw;
    padding-left: 10dvw;
    padding-right: 10dvw;
    padding-bottom: 5dvh;
}

.chargrid div{
    /* border: 2px solid white; */
    width: 240px;
    height: 400px;
    max-height: 400px;
    max-width: 240px;
    background-color: black;
    box-shadow: 0px 0 50px darkgoldenrod;
    display: flex;
    color: darkgoldenrod;
    flex-direction: column;
    font-family: mpfont;
    text-align: center;
    text-transform: capitalize;
    font-size: x-large;
    gap: 30px;
    padding: 5px;
    /* margin-top: 50px; */
}

img{
    object-fit: cover;
    min-height: 75%;
    max-height: 75%;
}